$theme-color: #666;

@import "mixins";

//  START GENERAL STYLES

* {
    @include box-sizing;
    @include transition(all 0.5s ease);
    outline: none;
    &::selection, &::-moz-selection {
        background: #222;
        color: #fff;
        text-shadow: none;
    }
}

html, body {
	width: 100%;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6, em {color: #23527c;}

h2, h3, h4 {
	font-family: Helvetica;
}


h4 {
	font-size: 20px;
}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration: none; 
	outline: none;
}

.navbar-brand {padding: 0px;}

header {
    background-image: none !important;
    min-height: 0 !important;  
}

.navbar-default {
  .nav {
    li {
      a {
        color: $theme-color !important;
        &:hover, &:focus {
          color: #0066ff !important;
        }
      }
    }
  }
}

div {
  &[itemprop="address"] {
    margin-bottom: 20px;
  }
}

ul {text-align:left;}

.navbar-brand {
    margin:0;
    padding:15px;
}

.navbar-collapse {
  background-color:#fff;
}


ul.navbar-right > li {
	float: right;
	margin-right: 10px;
	line-height: 50px;
	list-style: none;
}

h1 {text-decoration: underline;}

em[itemprop="name"] {font-size: 18px;}

blockquote {
	padding-left: 0px; 
	border: none;
    font-size: 16px;
    img {
      &.thumbnail {
          display: inline;
          height: 25px;
          width: auto;
          max-width: 100%;
          margin: 10px 10px 10px 0px;
      }
  }
}

.panel,
.panel-default,
.panel-title,
.panel-default > .panel-heading,
.list-group-item,
.panel .panel-default {
	background-color: #fff !important;
	border: none !important;
	border-radius: 0px !important;
    text-align: left;
}

.panel-body {
	padding-top: 0px !important;
}

h4.portfolio-link {
	margin-left: 20px;
}

.list-group-item {
	padding-bottom: 0px !important;
}

span.period {
	color: #666;
}

span.worksFor {
	color: #666;
}

section {
	background-color: white !important;
}

footer {
	.footer-section {
		h4 {
			font-family: 'Indie Flower', cursive;
			font-size: 26px;
			color: #fff;
		}
	}
}